@charset "UTF-8";

*{
   font-family:'Outfit', 'Courier New', Courier, monospace;
}
@font-face {
   font-family: 'YoungSeri';
   src: url('fonts/young-serif/YoungSerif-Regular.ttf') format('TrueType');
}
@font-face {
   font-family: 'Outfit';
   src: url('fonts/outfit/Outfit-VariableFont_wght.ttf') format('TrueType');
}
body{
   background-color: #F3E5D8;
}
article{
   background-color: rgb(250, 250, 250);
   max-width: 700px;
   padding: 30px;
   border-radius: 20px;
   margin: auto;
}
img{
   width: 100%;
   border-radius: 20px;
}
h1, h2{
   font-family: 'YoungSeri', 'Courier New', Courier, monospace;
   font-weight: 300
}
h2{
   color: #733A2D;
}
section{
   background-color: #f9e8f3c5;
   padding: 5px 20px 10px 20px;
   border-radius: 10px;
   
}
h4{
   color: #561e36;
}
li{
   padding-bottom: 10px;
}
ul, ol{
   margin: 0px 0px 0px -16px;
}
table {
   border-collapse: collapse; 
}
tr{
   border-bottom: 1px solid rgba(0, 0, 0, 0.337);
   padding-right: 10px;
}
td{
   padding: 25px 0px 25px 40px;
   width: 50vh;
}
.num{
   color: #733A2D;
}
footer{
   margin-top: 20px;
   text-align: center;
   font-size: 0.3cm;
}
